# Dependencies
node_modules/
zz-denik/node_modules/

# Production
dist/
zz-denik/dist/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Capacitor / Native
android/.gradle/
android/build/
android/app/build/
ios/App/build/
ios/App/App/public/

# Local env
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build_error.txt
